* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: lightgray;
}

header {
    background-color: #fff;
}

h1 {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}

h2 {
    font-size: 18px;
}

.container {
    background-color: lightgray;
}

.flex-container {
    display: flex;
}

.post {
    background-color: #fff;
    width: 500px;
    margin: 20px auto;

}

.post-headline {
    align-items: center;
    padding: 10px;
}

.post-date {
    margin-left: auto;
}

.post-caption {
    padding: 15px;
}