* {
    margin: 0;
    font-size: 10px;
}

nav {
    margin: 20px 0;
}

h1 {
    font-size: 2rem;
}

.container {
    display: flex;
    align-items: center;
    background: lightgray;
    flex-direction: column;
}

.card {
    margin: 20px 0;
    background: #fff;
    width: 400px;
}

.card-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

h2 {
    font-size: 1.5rem;
}

.date {
    margin-left: auto;
}

.card-footer {
    padding: 15px;
}

.center {
	display: flex;
	justify-content: center;
}
